.myStyleContainer {
     margin-top: 12px;
}

/* ._myScrollStype {
     height : 290px;
} */
.myStyle__termBtnGroup {
     margin-top: 5px;
}
.myStyle__middleUpperBorder {
     margin-top : 0px;
}

.my_style__toggleBtn {
     background: linear-gradient(to top left, #978ef4 0%, #ffffff 100%);
}

